h2{
    color: blueviolet;
}
table,th,td{
    border:1px solid black;
}
table {
    color:black;
  }
  th {
    background-color: #ffff00ad;
  }
  
  .shadow-heading {
    text-shadow: 2px 2px 4px rgba(218, 10, 10, 0.5);
    padding-left: 120px; 
  }



  
  

  