h2{
    color: blueviolet;
}
table,th,td{
    border:1px solid black;
}
table {
    color:black;
  }
  
  body {
    background-image: url('C:\Users\SHREEYA\OneDrive\Documents\bz.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }


  