h2{
    color: blueviolet;
}
table,th,td{
    border:1px solid black;
}
table {
    color:black;
  }
  th {
    background-color: #ffff00ad;
  }
  
  .gradient-heading {
    background: linear-gradient(to right, #2c0eb5, #ff4f74);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
      

  

  